.pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 40px;
    text-decoration: none;
    background: transparent;
    transition: background-color .2s;
    /* border: 1px solid #ddd; */
    cursor: pointer;
    margin-bottom: 10px;
    /* gap: 10px; */
}
.pagination-container>*{
    height: 2rem;
    width: 2rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #090909;
}
.pagination-container a.active{
    background-color: #9e3333;
    color: #fff;
    border: 1px solid #7cbddb;
}

.pagination-container a.disabled{
    opacity: 0.2;
}

.pagination-container a:hover:not(.active){background-color: rgb(238, 238, 238);}

@media screen and (max-width: 390px) {
   .pagination-container{
    margin-top: 2rem;
   }
}