@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*{
  /* font-family: 'Itim', cursive; */
  font-size: 16px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  flex-direction: column;
  margin-bottom: 5rem;
}
::-webkit-scrollbar {
  display: none;
}